@import "../utils/Color.scss";

.blog {
    margin: auto 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    .image {
        width: 100%;
        height: 12rem;
        background-color: lightgray;
        background-size: cover;
        background-position: center center;
    }
    .content {
        padding: 1rem;
        p {
            margin: 1.5rem 0 1rem;
            font-size: 15px;
        }
    }
}
