@import "../utils/color.scss";

a {
    text-decoration: none;
}

.brand {
    cursor: pointer;
    border: 0.1rem solid $pinkColor;
    padding: 0.2rem 1rem;
    span {
        text-transform: uppercase;
        font-size: 1.5rem;
        color: $blueColor;
        font-weight: bold;
    }
}

.isFooter {
    width: 7.5rem;
    border: 0.1rem solid white;
    span {
        color: white;
    }
}
