@import "../utils/Color.scss";

.title {
    margin: 2rem 0;
    h2 {
        color: $headingColor;
        text-transform: uppercase;
        font-size: 1.8rem;
        margin-bottom: 0.3rem;
        word-wrap: break-word;
    }
    div {
        height: 0.2rem;
        width: 3rem;
        &:hover {
            border: none;
        }
    }
}

.center {
    text-align: center;
    div {
        margin: auto;
    }
}

div.blue {
    background-color: $headingColor;
    &:hover {
        background-color: $headingColor;
    }
}

div.pink {
    background-color: $pinkColor;
    &:hover {
        background-color: $pinkColor;
    }
}
