@import "../utils/Color.scss";

.blogs {
    margin: 4rem;
    .main-container {
        width: 90%;
        margin: auto;
        .titles {
            width: 30rem;
            margin: auto;
            text-align: center;
        }
        .contents {
            margin-top: 2rem;
            display: flex;
        }
        .button {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
        }
    }
}
