@import "../utils/Color.scss";
@import "../utils/Animation.scss";

@mixin animate($animation, $duration, $method, $times) {
    animation: $animation $duration $method $times;
}

.main-container {
    margin: 0 10%;
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .content {
            margin-top: 3.4rem;
            margin-right: 3rem;
            h1 {
                font-size: 3rem;
                margin-bottom: 1rem;
                color: $headingColor;
            }
            .lul {
                display: inline-block;
                position: relative;
                // font-size: 5rem;
                @include keyframes(fade) {
                    0% {
                        top: -10px;
                    }
                    50% {
                        top: 0;
                    }
                    100% {
                        top: -10px;
                    }
                }

                @include animate(fade, 1s, linear, infinite);
            }
            p {
                font-size: 1.2rem;
                color: $lightFontColor;
                line-height: 1.9rem;
            }
            .button-container {
                display: flex;
                margin-top: 1rem;
                button {
                    margin-right: 1rem;
                }
            }
        }
        .image {
            img {
                width: 35rem;
                height: 35rem;
            }
        }
    }
}

@include keyframes(AlwaysLaugh) {
    0% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(20deg);
    }
}
