$lightFontColor: #5b595f;
$blueColor: #410ba5;
$pinkColor: #f32a8f;
$morePinkColor: #ffdee8;
$yellowColor: #ffcf5a;
$headingColor: rgb(18, 18, 88);
$greySection: #edebff;
$whiteSection: #ffffff;
$quoteIconColor: #eba4b8;
$darkColor: #333335;
$darknessColor: #2a292c;
